*-1.pdf
*~
__pycache__
.ipynb_checkpoints
.DS_Store
logo.rgb.maroon.jpg
conceptual_pacts.csv
cogsci2020.tex
parentsscaffold_0203.pdf
experiments/comprehension/node_modules/*
experiments/comprehension/mturk/*
experiments/production/mturk/
experiments/ref_game/node_modules/*
*.log
data/*
!*/deidentified
!*/production
similardata/*
pacts/*
original_images/*
.Rproj.user
.RHistory
*_cache*
*_files*
desktop.ini